<head><meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://dotunderscore.net{{ page.url }}" />
<meta property="og:description" content="{{ page.content | replace:'more start -->','' | replace:'<!-- more end','' | truncatewords: 50 }}" />
<meta property="og:image" content="http://dotunderscore.net/twitterlogo.png" />
<meta property="og:site_name" content="DotUnderscore" />
<meta property="fb:admins" content="775638097" /></head>