<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% else %}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:locale" content="en_US">

  {% include head.html %}

  <body>

      <div class="masthead">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ site.title }}</a><br>
          <small><a href="http://twitter.com/bwhough">{{ site.tagline }}</a></small><br><br>
          <div style="color: white; font-size: 55% !important; font-weight: 400 !important; --noir-inline-color: #e8e6e3;line-height:1.4;">Follow on <i class="fa-brands fa-mastodon"></i> <strong><a rel="me" href="https://mastodon.social/@brianhough">Mastodon</a></strong>
          <br>
          Follow on <i class="fa-brands fa-bluesky"></i> <strong><a rel="me" href="https://bsky.app/profile/brianhough.com">Bluesky</a>
          </strong>
                    <br>
          Follow on <i class="fa-brands fa-threads"></i> <strong><a rel="me" href="https://www.threads.net/@bwhough">Threads</a>
          </strong>
          </div>
        </h3>
      </div>


    <div class="container content">

      {{ content }}
      <div align="center"><p><a href="/archive">Archive</a></p><br/></div>

      <div class="footer">
        <p>
          &copy; {{ site.time | date: '%Y' }} by Brian Hough. All rights reserved.
        </p>
      </div>
    </div>

  </body>
</html>
