<head><meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://dotunderscore.net{{ page.url }}" />
<meta property="og:description" content="{{ page.content | replace:'more start -->','' | replace:'<!-- more end','' | truncatewords: 50 }}" />
<meta property="og:image" content="http://dotunderscore.net/twitterlogo.png" />
<meta property="og:site_name" content="DotUnderscore" />
<meta property="fb:admins" content="775638097" /></head>

---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
